Flask==3.1.0
Flask-Cors==5.0.0
firebase-admin==6.6.0
python-dotenv==1.0.1
litellm==1.59.0
Pillow==11.0.0
google-cloud-aiplatform==1.82.0
google-cloud-speech==2.31.0
requests==2.32.3
uvicorn==0.29.0
asgiref==3.8.1
h11==0.14.0
httptools==0.6.1
asgiref==3.8.1
fastapi==0.115.11
starlette==0.46.0
httptools==0.6.4
watchfiles==1.0.4 
websockets==15.0