*test*
*.git*
.env
.env.local
.env.*
!*.sample
*.log
!example
node_modules
public
*.log
*.pyc
*secret*.json
*service_account*.json
*credentials*.json
!FolderStructure.txt
*.pdf
*.pem
*.wav
*.mp3
*.txt
!requirements.txt
node_modules
