*test*
*.git*
*.csv
.env
*.json
*key*.json
*.key
.env.local
.env.*
!*.sample
*.log
!example
node_modules
public
*.log
*.pyc
*secret*.json
*service_account*.json
*credentials*.json
!FolderStructure.txt
*.pdf
*.pem
*.wav
*.mp3
*.txt
*.jpg
*.png
!requirements.txt
node_modules
