{% extends "base.html" %}

{% block title %}Firebase認証デモ{% endblock %}

{% block head %}
<div class="header-title">Firebase認証デモ</div>
{% endblock %}

{% block content %}
<div id="firebaseui-auth-container"></div>
{% endblock %}

{% from "macros/firebase_ui.html" import load_firebase_ui %}
<!-- base.htmlにて既にbase_classとAPI_GATEWAY_KEYとFirebase SDKは読み込まれている-->
{% block scripts %}
<!-- firebase_uiをここで読み込む-->
{{ load_firebase_ui() }}
<script>
    const redirectUrl = {{ redirect_url|tojson }};
</script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}